In [1]:
#구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#출력 한 번에 나올 수 있게 설정
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [4]:
filename='/content/drive/My Drive/DataSet/Lpoint/data/Product.csv'

In [5]:
srchcsv='/content/drive/My Drive/DataSet/Lpoint/data/Search1.csv'
search1 = pd.read_csv(srchcsv, dtype={"CLNT_ID":np.str, "SESS_ID":np.str})

srch2csv='/content/drive/My Drive/DataSet/Lpoint/data/Search2.csv'
search2 = pd.read_csv(srch2csv)

In [6]:
search1.head()
search2.head()

   CLNT_ID   SESS_ID     KWD_NM  SEARCH_CNT
0  5607714  07112876   빌리프 아이크림           6
1  5607714  04090791  프리메라 마스크팩           3
2  5607714  04090791      여성청결제           1
3  5612428  01876482       명품가방           1
4  5612428  00658123  콩순이 아이스크림           1

    SESS_DT     KWD_NM SEARCH_CNT
0  20180407      닥스원피스          8
1  20180407  닥터지 브라이트닝          1
2  20180407     달팡 인트랄          2
3  20180407        대상트          1
4  20180407       더블유닷          6

In [7]:
wtrfilter = search2[search2['KWD_NM'].str.contains('제습기')]
wtrfilter

          SESS_DT   KWD_NM SEARCH_CNT
903      20180406   마모스제습기          4
8667     20180412    lg제습기          3
13820    20180716   엘지 제습기          1
17071    20180422      제습기         83
18583    20180403   위니아제습기          2
...           ...      ...        ...
8031518  20180903    제습기커버          1
8032973  20180905  위닉스 제습기          8
8033494  20180903   위닉스제습기         36
8044136  20180915    신일제습기          2
8046871  20180903  위니아 제습기          1

[2497 rows x 3 columns]

# 네이버 트렌드 API

## 검색 트렌드 크롤링

In [24]:
import os
import sys
import urllib.request
client_id = "qUiizuc0pfN6x2POwG0_"
client_secret = "ruh0V04uUN"
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\"2017-01-01\",\"endDate\":\"2017-04-30\",\"timeUnit\":\"month\",\"keywordGroups\":[{\"groupName\":\"한글\",\"keywords\":[\"한글\",\"korean\"]},{\"groupName\":\"영어\",\"keywords\":[\"영어\",\"english\"]}],\"device\":\"pc\",\"ages\":[\"1\",\"2\"],\"gender\":\"f\"}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

{"startDate":"2017-01-01","endDate":"2017-04-30","timeUnit":"month","results":[{"title":"한글","keywords":["한글","korean"],"data":[{"period":"2017-01-01","ratio":47.00101},{"period":"2017-02-01","ratio":53.23619},{"period":"2017-03-01","ratio":100},{"period":"2017-04-01","ratio":85.327}]},{"title":"영어","keywords":["영어","english"],"data":[{"period":"2017-01-01","ratio":40.0881},{"period":"2017-02-01","ratio":36.69942},{"period":"2017-03-01","ratio":52.11792},{"period":"2017-04-01","ratio":44.4595}]}]}

## 실시간 검색어 크롤링

In [13]:
import urllib.request
from bs4 import BeautifulSoup
import json
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import datetime
import time
import tqdm
from dateutil.relativedelta import relativedelta

In [14]:
url = 'https://datalab.naver.com/keyword/realtimeList.naver?age=all'
body = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36'}
res = requests.get(url, headers = body)
soup = BeautifulSoup(res.content, 'html.parser')
data = soup.select('span.item_title')
data

[<span class="item_title">싱어게인 결방</span>,
 <span class="item_title">최원희</span>,
 <span class="item_title">펜트하우스 19세</span>,
 <span class="item_title">홍지민</span>,
 <span class="item_title">황혼에서 새벽까지</span>,
 <span class="item_title">정조국</span>,
 <span class="item_title">범죄와의 전쟁</span>,
 <span class="item_title">최원희 점집</span>,
 <span class="item_title">김성은</span>,
 <span class="item_title">이화선</span>,
 <span class="item_title">홍지민 집</span>,
 <span class="item_title">한정수</span>,
 <span class="item_title">류제국</span>,
 <span class="item_title">홍지민 나이</span>,
 <span class="item_title">너를 만났다</span>,
 <span class="item_title">신은경</span>,
 <span class="item_title">그레이스 조</span>,
 <span class="item_title">국가비</span>,
 <span class="item_title">하도권</span>,
 <span class="item_title">차이나타운</span>]

In [15]:
#문자만 추출
for i in data:
    print(i.get_text())

싱어게인 결방
최원희
펜트하우스 19세
홍지민
황혼에서 새벽까지
정조국
범죄와의 전쟁
최원희 점집
김성은
이화선
홍지민 집
한정수
류제국
홍지민 나이
너를 만났다
신은경
그레이스 조
국가비
하도권
차이나타운

In [21]:
def datalab_realtime_keyword(code):
    url = 'https://datalab.naver.com/keyword/realtimeList.naver?age={}'.format(code)
    body = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36'}
    res = requests.get(url, headers = body)
    soup = BeautifulSoup(res.content, 'html.parser')
    data = soup.select('span.item_title')
    
    
    realtime_list = []
    for i in data:
        realtime_list.append(i.get_text())
        
    realtime_df = pd.DataFrame(realtime_list); realtime_df.columns = [code] 
    realtime_df.index = range(1,21)
    realtime_df = realtime_df.T
    
    return realtime_df

In [22]:
datalab_realtime_keyword('all')

          1    2          3    4          5   ...      16     17      18   19   20
all  싱어게인 결방  최원희  펜트하우스 19세  홍지민  황혼에서 새벽까지  ...  너를 만났다  차이나타운  그레이스 조  국가비  도성수

[1 rows x 20 columns]

In [23]:
#연령별
datalab_realtime_keyword('10s')
datalab_realtime_keyword('20s')

            1        2           3   ...           18         19          20
10s  펜트하우스 19세  싱어게인 결방  아름다웠던 우리에게  ...  ebs 온라인 클래스  국내 드라마 빙고  공인인증서 발급방법

[1 rows x 20 columns]

          1    2          3        4    5   ...    16   17     18      19  20
20s  싱어게인 결방  최원희  펜트하우스 19세  범죄와의 전쟁  정조국  ...  피라맥스  김현중  차이나타운  구직촉진수당  옵스

[1 rows x 20 columns]